h1{
    color: red;
    text-align: center;
    margin-top: 50px;
    font-weight: bold
}

h2{
    text-align: center
}

#visitors{
    text-align: center;
    margin: 20px auto;
}

form {
    margin: 20px auto;            /* Center the form horizontally */
    padding: 20px;                /* Add padding inside the form */
    background-color: #f9f9f9;    /* Light gray background */
    border: 1px solid #ccc;       /* Light gray border */
    border-radius: 5px;           /* Rounded corners */
    max-width: 400px;             /* Max width for the form */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

label {
    display: block;                /* Make labels block elements */
    margin-bottom: 5px;           /* Space between label and input */
}

#result{
    margin-top: 20px; 
    font-weight: bold;
}